*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #100e17;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* Header nav start */
#home{
    background: url(../img/home-bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.home-bg-overlay{
    background: rgba(0, 0, 0, 0.9);
}
header {
    height: 90px;
    line-height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    background: rgb(109 108 108 / 22%);
}
header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}
header nav ul li{
    margin: 0 20px;
    min-width: 100px;
    text-align: center;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
}
header nav ul li a:focus{
    border-bottom: 2px solid;
}
header nav ul li a:active{
    border-bottom: 2px solid;
}
.container{
    width: 85%;
    margin: 0 auto;
}
/* header nav end */

/* header bottom start */

.header-bottom{
    padding: 150px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.header-bottom-left .hello{
    background: lightseagreen;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px 25px 25px 0;
    display: inline-block;
}
.header-bottom-left h1{
    font-size: 60px;
    font-weight: 600;
    margin: 20px 0;
}
.header-bottom-left .ashik{
    color: orange;
}

.header-bottom-left h3{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}
.header-bottom-left p{
    line-height: 30px;
    color: lightgray;
}
.header-bottom-left p i{
    margin-right: 10px;
    color: lightseagreen;
}
.socials ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.socials ul li{
    margin-right: 30px;
}
.socials ul li i{
    font-size: 20px;
    color: #fff;
    transition: .4s;
}
.socials ul li i:hover{
    color: blue;
}
.header-bottom-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header-bottom .header-bottom-right img{
    width: 80%;
}
/* header bottom end */

/* about section start */
#about{
    padding-top: 150px;
}
/* about top */
.about-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-top-left{
    width: 45%;
    min-width: 40%;
}
#about .about-top-left img{
    width: 100%;
    margin-top: 70px;
}
.about-top-right{
    width: 45%;
    min-width: 40%;
}
.about-top-right h2{
    font-size: 40px;
}
.about-top-right p{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: lightyellow;
    margin-bottom: 30px;
}
.about-top-right ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
.about-top-right ul li{
    padding: 6px 10px;
    border: 2px solid lightseagreen;
    margin: 0px 20px 20px 0;
    border-radius: 5px;
}
.about-top-right a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px 30px;
    background: lightseagreen;
    border-radius: 50px;
}
.about-top-right a i{
    margin-left: 15px;
}
/* about middle */
.about-middle{
    margin: 150px 0;
}
.about-middle h1{
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
}
.about-middle h1 .exclamation{
    color: orange;
}
.about-middle .about-middle-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 50px;
}
.abc{
    padding: 30px 20px;
    border: 2px solid lightseagreen;
    border-radius: 8px;
    box-shadow: 0 0 0px 10px rgb(29, 28, 28);
    transition: .5s;
    min-width: 28%;
    background: rgb(22, 21, 21);
}
.abc:hover{
    box-shadow: 0 0 10px 10px rgb(22, 217, 243);
}
.abc-one i{
    color: mediumorchid;
    font-size: 30px;
}
.abc-two i{
    color: tomato;
    font-size: 30px;
}
.abc-three i{
    color: limegreen;
    font-size: 30px;
}
.about-middle .abc p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: lightgray;
}

/* about bottom */
.about-bottom{
    padding: 100px 0;
}
.about-bottom h1{
    text-align: center;
    margin-bottom: 100px;
    font-size: 45px;
}
.slider{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
}
.slider img{
    width: 100%;
    height: 100%;
}
.slider h3{
    color: orange;
}
.slider h2{
    font-size: 40px;
    margin: 20px 0;
}
.slider p{
    color: lightgray;
    font-family: 'Poppins', sans-serif;
}
.slider a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 6px 30px;
    border-radius: 50px;
    background: lightseagreen;
    margin: 20px 0;
    display: inline-block;
}
/* OWL Carousel */
.owl-carousel{
    position: relative;
}
.owl-prev span{
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: -1%;
}
.owl-next span{
    font-size: 50px;
    position: absolute;
    top: 40%;
    right: -1%;
}
/* about section end */
